<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <meta name="apple-mobile-web-app-capable" content="yes"/> <!-- 是否启用 WebApp 全屏模式 -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport"/>
    <title>填写数据</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="shortcut icon" type="images/logo.ico" href="{{url_for('static',filename='admin/bootstrap/images/logo.ico')}}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='admin/bootstrap/css/iconfont.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='admin/bootstrap/css/app.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='admin/bootstrap/css/columnDrag.css')}}" type="text/css" charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='admin/bootstrap/css/LCalendar.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='admin/bootstrap/css/jquery.spinner.css')}}">
    <script type="text/javascript" src="{{url_for('static',filename='admin/bootstrap/js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='admin/bootstrap/js/app.js')}}" charset="UTF-8"></script>
    < type="text/javascript" src="{{url_for('static',filename='admin/bootstrap/js/iconfont.js')}}" charset="UTF-8">
    <script type="text/javascript" src="{{url_for('static',filename='admin/bootstrap/js/jquery.spinner.js')}}"></script>

</head>
<body>
<div class="kePublic">
    <!--效果html开始-->
    <div class="mryx-logo" style="background: white"><img src="{{url_for('static',filename='admin/bootstrap/images/logo.png')}}"></div>
    <div class="table-screen">
        <a id="moren" class="Selected" onclick="sortTable('tableSort',0)"><span>默认</span></a>
        <a id="site" class="Selected kong" onclick="sortTable('tableSort',1)"><span>站点</span></a>
        <a id="number" class="Selected kong" onclick="sortTable('tableSort',2)"><span>数量</span></a>
        <div class="date">
            <input type="text" name="start_date" id="start_date" placeholder="订单日期" readonly="readonly"/>
        </div>
    </div>
    <div id="chenkbox">
        <table id="tableSort">
            <!--<tr>-->
            <!--<th onclick="sortTable('tableSort',0)" title="点击排序"> 序列 </th>-->
            <!--<th onclick="sortTable('tableSort',1)" title="点击排序"> 站点 </th>-->
            <!--<th onclick="sortTable('tableSort',2)" title="点击排序"> 数量 </th>-->
            <!--<th onclick="sortTable('tableSort',3)" title="点击排序"> 操作 </th>-->
            <!--</tr>-->
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>1</td>
                <td>沙河</td>
                <td><input type="number" class="spinnerExample"/></td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td>昌平</td>
                <td><input type="number" class="spinnerExample"/></td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td>上地东</td>
                <td><input type="number" class="spinnerExample"/></td>
                <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td>清河</td>
                <td><input type="number" class="spinnerExample"/></td>
                <td></td>
            </tr>
            <tr>
                <td>5</td>
                <td>西小口</td>
                <td><input type="number" class="spinnerExample"/></td>
                <td></td>
            </tr>
            <tr>
                <td>6</td>
                <td>回龙观</td>
                <td><input type="number" class="spinnerExample"/></td>
                <td></td>
            </tr>
            <tr>
                <td>7</td>
                <td>二拔子</td>
                <td><input type="number" class="spinnerExample"/></td>
                <td></td>
            </tr>
            <tr>
                <td>8</td>
                <td>育新</td>
                <td><input type="number" class="spinnerExample"/></td>
                <td></td>
            </tr>
            <tr>
                <td>9</td>
                <td>西三旗</td>
                <td><input type="number" class="spinnerExample"/></td>
                <td></td>
            </tr>
            <tr>
                <td>10</td>
                <td>红军营</td>
                <td><input type="number" class="spinnerExample"/></td>
                <td></td>
            </tr>
            <tr>
                <td>11</td>
                <td>立水桥</td>
                <td><input type="number" class="spinnerExample"/></td>
                <td></td>
            </tr>
        </table>
        <!--<div id="box"></div>-->
    </div>
    <script src="{{url_for('static',filename='admin/bootstrap/js/columnDrag.js')}}"></script>
    <!--效果html结束-->
</div>

<div class="but-bg">
    <button onclick="window.location.href='result.html'">开始计算</button>
    <button class="nobut">新建站点</button>
</div>
</body>


<script src="{{url_for('static',filename='admin/bootstrap/js/LCalendar.js')}}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    var calendar = new LCalendar();
    calendar.init({
        'trigger': '#start_date', //标签id
        'type': 'date', //date 调出日期选择 datetime 调出日期时间选择 time 调出时间选择 ym 调出年月选择,
        'minDate': (new Date().getFullYear() - 3) + '-' + 1 + '-' + 1, //最小日期
        'maxDate': (new Date().getFullYear() + 3) + '-' + 12 + '-' + 31 //最大日期
    });
    var calendar = new LCalendar();
    calendar.init({
        'trigger': '#end_date', //标签id
        'type': 'date', //date 调出日期选择 datetime 调出日期时间选择 time 调出时间选择 ym 调出年月选择,
        'minDate': (new Date().getFullYear() - 3) + '-' + 1 + '-' + 1, //最小日期
        'maxDate': (new Date().getFullYear() + 3) + '-' + 12 + '-' + 31 //最大日期
    });
    //		$(function() {
    //			$('#start_date').date();
    //			$('#end_date').date();
    //		});
</script>

<script type="text/javascript">
    $('.spinnerExample').spinner({});
</script>

<script>
    function qingling(Obj) {
        var ullis = Obj.parentNode.previousElementSibling.firstChild.firstChild.nextSibling.value;
//            alert(ullis);
        Obj.parentNode.previousElementSibling.firstChild.firstChild.nextSibling.value = "";
    }
</script>
</html>
